.section-about {
    margin: 130px auto;
}

main {
    background-color: #ebebeb;
    font-family: "Proxima Nova";
}

.about-img {
    min-height: 550px;
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    img {
        padding-top: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    h2 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 45px;
    }
}

.about-text {
    font-size: 20px;
    color: #665f60;
    margin-top: 75px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.link-about {
    text-align: center;
    margin-top: 100px;

    a {
        color: #665f60;
        text-align: center;
        font-style: italic;
        border: 1px solid #665f60;
        padding: 15px 50px;
        width: 100px;
    }

    a:hover {
        opacity: 0.9;
        text-shadow: 1px 1px 6px #cccae4;
        cursor: pointer;
    }
}
