.team {
    padding-top: 50px;
    text-align: center;

    .team-title {
        font-size: 36px;
        color: #665f60;
        text-transform: uppercase;
        margin: 30px 0 50px;
        font-weight: 600;
    }

    &-slider {
        margin-bottom: 100px;
        position: relative;
        outline: none;

        .person {
            padding-top: 145px;
            border: 15px solid #ebebeb;

            .info-block {
                position: relative;
                background: #fff;
                padding-top: 160px;

                .image {
                    position: absolute;
                    top: -35%;
                    width: 100%;

                    img {
                        display: block;
                        margin: 0 auto;
                    };
                }

                .name {
                    font-weight: 700;
                    color: #9f9acf;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                .position {
                    font-style: italic;
                    font-size: 24px;
                    color: #665f60;
                    margin-bottom: 50px;
                }

                .social {
                    padding: 18px 0;
                    width: 100%;
                    background-color: #9f9acf;
                    display: flex;
                    justify-content: center;

                    .link {
                        margin: 0 6px;

                        &:hover {
                            animation: rotateIn 0.5s;
                        }
                    }
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: calc(100% / 2 - 30px);
            background: none;
            font-size: 0;
            width: 50px;
            height: 50px;
            outline: none;
            border: none;

            &:hover {
                &:before {
                    color: #fff;
                }
            }
        }

        .slick-prev {
            left: -150px;

            &::before {
                font-family: FontAwesome, sans-serif;
                color: #777172;
                content: '\f104';
                zoom: 2;
                font-size: 40px;
            }
        }

        .slick-next {
            right: -150px;

            &::before {
                font-family: FontAwesome, sans-serif;
                color: #777172;
                zoom: 2;
                content: '\f105';
                font-size: 40px;
            }
        }
    }
}
